.grid {
  margin: 0 -15px;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

[class*="grid__col-"] {
  padding: 0 15px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid[class*="grid__col-"] {
  margin: 0;
  padding: 0;
}

.grid__col-1  { width: 20%; }
.grid__col-2  { width: 40%; }
.grid__col-3  { width: 60%; }
.grid__col-4  { width: 80%; }
.grid__col-5  { width: 100%; }