.main-header {
  padding-top: 11px;

  .logo {
    margin-top: 8px;
  }

  .banner253x70 {
    margin-right: 30px;
    margin-top: 1px;
    width: 253px;
    height: 70px;
    background-color: #e2e2e2;
  }
}

.top-panel {
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d7d7d7;
  letter-spacing: 0.001em;

  a {
    color: $text-color;
    text-decoration: none;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  .sep {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 1px;
    width: 1px;
    height: 10px;
    background-color: $text-color
  }

  .top-panel__nav {

    li {
      margin-right: 21px;
      float: left;
    }
  }
}

.basket__menu {
  padding-right: 10px;
  margin-top: -2px;
  width: 167px;
}

.basket__menu-item {
  padding-left: 30px;
  margin-bottom: 3px;
  position: relative;
  font-size: 14px;

  &.small {
    font-size: 12px;
  }

  .icon {
    position: absolute;
    top: 3px;
    left: 0;
  }

  .icon-star15x14 {
    top: 5px;
    left: 5px;
  }

  .icon-scales22x16 {
    top: 4px;
    left: 1px;
  }

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }
}
.basket__items {
  width: 250px;
}

.basket__items-item {
  margin-right: 8px;
  width: 72px;
  height: 72px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #d9d9d9;

  a {
    display: block;
  }

  .box-table {
    width: 72px;
    height: 72px;
    text-align: center;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.contacts {
  margin-top: -6px;
}

.contacts__header {
  padding-right: 2px;
  padding-left: 3px;
  margin-bottom: 12px;
  font-size: 12px;

  .label {
    font-weight: 700;
  }
}

.contacts__phone {
  margin-bottom: 17px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.contacts__footer {
  padding-left: 2px;
  padding-top: 5px;
  border-top: 1px solid #d7d7d7;

  span {
    display: inline-block;
    vertical-align: top;
    line-height: 12px;
  }

  .city {
    font-size: 12px;
  }

  .change-city {
    padding-left: 11px;
    position: relative;
    color: #333;
    cursor: pointer;

    > span {
      border-bottom: 1px dotted #333;
      font-size: 12px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 8px solid #333;
    }

    &:hover > span {
      border-color: #fff;
    }
  }
}

.menu {
  margin-top: 22px;
  height: 34px;
  background-color: $text-color;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(37, 37, 37, 0.23);

  a {
    color: $text-color;
    text-decoration: none;
    display: block;
  }
}

.menu__search {
  margin-right: 60px;
  height: 100%;
  width: 39px;
  background-color: $brand-yellow;
  border-radius: 8px 0 0 8px;

  .icon {
    cursor: pointer;
    top: 7px;
    left: 10px;
  }
}

.menu__nav {
  height: 100%;

  ul {
    height: 100%;
  }

  li {
    float: left;
    height: 100%;

    a {
      padding: 6px 18px;
      display: block;
      height: 100%;
      font-weight: 700;
      font-size: 14px;
      color: #fff;

      &:hover {
        color: $text-color;
        background-color: $brand-yellow;
      }
    }

    &.active a {
      color: #333;
      background-color: $brand-yellow;
      cursor: default;
    }
  }
}

.menu__action {
  padding: 6px 13px;
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.04em;
  border-radius: 0 8px 8px 0;
  background-color: $brand-yellow;
  color: #333;
  text-transform: uppercase;
}