.icon {
  position: relative;
  display: inline-block;
}
.icon-basket19x17 {
  @include sprite($icon-basket19x17)
}

.icon-star15x14 {
  @include sprite($icon-star15x14)
}

.icon-scales22x16 {
  @include sprite($icon-scales22x16)
}

.icon-search19x19 {
  @include sprite($icon-search19x19)
}