$font-stack: Roboto, arial, sans-serif;
$text-color: #252525;
$brand-yellow: #ffcc00;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 400 16px/24px $font-stack;
  color: $text-color;
  background-color: #fff;
  min-width: 1200px;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.box-table {
  display: table;
}

.box-table-cell {
  display: table-cell;
  vertical-align: middle;
}