/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-basket19x17-name: 'icon-basket19x17';
$icon-basket19x17-x: 0px;
$icon-basket19x17-y: 19px;
$icon-basket19x17-offset-x: 0px;
$icon-basket19x17-offset-y: -19px;
$icon-basket19x17-width: 19px;
$icon-basket19x17-height: 17px;
$icon-basket19x17-total-width: 41px;
$icon-basket19x17-total-height: 36px;
$icon-basket19x17-image: 'sprite.png';
$icon-basket19x17: (0px, 19px, 0px, -19px, 19px, 17px, 41px, 36px, 'sprite.png', 'icon-basket19x17', );
$icon-scales22x16-name: 'icon-scales22x16';
$icon-scales22x16-x: 19px;
$icon-scales22x16-y: 0px;
$icon-scales22x16-offset-x: -19px;
$icon-scales22x16-offset-y: 0px;
$icon-scales22x16-width: 22px;
$icon-scales22x16-height: 16px;
$icon-scales22x16-total-width: 41px;
$icon-scales22x16-total-height: 36px;
$icon-scales22x16-image: 'sprite.png';
$icon-scales22x16: (19px, 0px, -19px, 0px, 22px, 16px, 41px, 36px, 'sprite.png', 'icon-scales22x16', );
$icon-search19x19-name: 'icon-search19x19';
$icon-search19x19-x: 0px;
$icon-search19x19-y: 0px;
$icon-search19x19-offset-x: 0px;
$icon-search19x19-offset-y: 0px;
$icon-search19x19-width: 19px;
$icon-search19x19-height: 19px;
$icon-search19x19-total-width: 41px;
$icon-search19x19-total-height: 36px;
$icon-search19x19-image: 'sprite.png';
$icon-search19x19: (0px, 0px, 0px, 0px, 19px, 19px, 41px, 36px, 'sprite.png', 'icon-search19x19', );
$icon-star15x14-name: 'icon-star15x14';
$icon-star15x14-x: 19px;
$icon-star15x14-y: 19px;
$icon-star15x14-offset-x: -19px;
$icon-star15x14-offset-y: -19px;
$icon-star15x14-width: 15px;
$icon-star15x14-height: 14px;
$icon-star15x14-total-width: 41px;
$icon-star15x14-total-height: 36px;
$icon-star15x14-image: 'sprite.png';
$icon-star15x14: (19px, 19px, -19px, -19px, 15px, 14px, 41px, 36px, 'sprite.png', 'icon-star15x14', );
$spritesheet-width: 41px;
$spritesheet-height: 36px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-basket19x17, $icon-scales22x16, $icon-search19x19, $icon-star15x14, );
$spritesheet: (41px, 36px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
